/* ---- Table ---- */
.table{
    text-align: center;
    margin-top: 200px;
}
.table__background {
    font-size: 30px;
    display: inline-block;
    background-color: green;
    border: 3px solid;
    border-collapse: separate;
    empty-cells: hide;
 }
 th {
    border: 2px solid;
 }
 /* ---- Form ---- */
 label{
     font-size: 30px;
 }
.name__form{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-align: center;
}
.btn{
    font-size: 30px;
}
form{
    text-align: center;
    font-size: 24px;
}