body{
    font-family: Arial, Helvetica, sans-serif; 
}
a{
    text-decoration: none;
}
/* ----- Header -----*/
.container{
    max-width: 1500px;
}
.header{
    position: fixed;
    padding: 30px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header:before{
    content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: #000;
}
.header__logo{
    flex: 0 0 60px;
}
.header__logo img{
    max-width: 100%;
}
.header__name{
    color: #fff;
    margin-right: 100px;
    font-size: 40px;
    font-family: 'Spectral', serif;;
}
.header__body{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items:center;
}
.header__link li{
    list-style: none;
}
.header__link{
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    margin-right: 50px;
}
.header__burger{
    display:none;
}
.header__list{
    display: flex;
    position: relative;
    z-index: 2;
}
.header__list li{
    list-style: none;
    margin: 0 0 0 20px;
}
@media (max-width:811px) {
    .header__burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }
    .header__burger span{
        position: absolute;
        background-color: #fff;
        position: absolute;
        right: 10px;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before,
    .header__burger:after{
        content:'';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        right: 10px;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before{
        top: 0;
    }
    .header__burger:after{
        bottom:0;
    }
    .header__burger.active span {
        transform: scale(0);
    }
    .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        padding: 10px 10px 10px 10px;
        transition: all 0.3s ease 0s;
        background-color:#000;
    }
    .header__menu.active{
        top:0;
    }
    .header{
        position: fixed;
        width: 100%;
        top:0;
        left: 0;
        z-index: 50;
    }
    .header:before{
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }
    .header__body{
        position: relative;
        display: flex;
        justify-content: space-between;
        height:50px;
        align-items:center;
    }
    .header__logo{
        flex: 0 0 60px;
        border-radius:20%;
        overflow: hidden;
        position: relative;
        z-index: 3;
    }
    .header__name{
        font-size: 0;
    }
    .header__list{
        display: block;
    }
    .header__list li{
        margin: 0 0 20px 0;
    }
    .pricing_content{
        display: absolute;
    }
    body.lock{
        overflow: hidden;
    }
}
/* ---- About Author ---- */
.about__author{
    margin-top: 130px;
    padding-bottom: 100px;
    background-color: wheat;
}
.about__author p{
    text-align: center;
    font-size: 30px;
}
.author{
    padding-top: 50px;
}
.name__author{
    margin-right: 300px;
}
.information{
    margin-right: 300px;
    font-size: 20px;
    padding-left: 700px;
    padding-right:200px;
}
.feedback{
    margin-top: 100px;
}
input{
    width: 10%;
    border:1px solid;
    border-radius: 4px;
    position:relative;
    resize: vertical;
    padding: 1%;
}   
.button{
    position:relative; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    user-select: none;
    background:rgb(32, 247, 60);
    padding: 1% 3%;
    outline: none; 
    border-radius: 20px;
}
/* ----- Footer ----- */
.footer{
    background-color:#000;
    padding-top: 50px;
    padding-bottom: 50px;
    width:100%;
    color: white;
    font-size: 20px;
    text-align: center;
}
